<p>Formulario! :D</p>
<div class="col-md-6">
    <div class="card">
        <div class="card-body">
            <form action="" >
                <div class="form-group">
                    <input type="text" name="Nombre" [(ngModel)]="user.name" placeholder="Name" class="form-control"><br>                
                    <input type="text" name="Direccion" [(ngModel)]="user.adress" placeholder="Addres" class="form-control"><br>
                    <input type="text" name="Telefono" [(ngModel)]="user.phone" placeholder="Phone" class="form-control"><br>
                    <button class="btn btn-success btn-block" (click)="edit ? updateUser() : saveNewUser()">Guardar</button>
                    
                </div>
            </form>
        </div>
    </div>
</div>